fastapi
uvicorn[standard]
numpy
xarray
h5netcdf[h5py]
rasterio
rio-tiler
scipy
herbie-data
pyproj
shapely
Pillow
httpx
cryptography
clerk-backend-api
boto3
python-multipart
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
brotli
